
  <ul class="employees">
    <li *ngFor="let employee of employees" 
      [class.selected]="employee === selectedEmployee"
      (click)="onSelect(employee)">
      <span class="badge">{{ employee.id }}</span> {{ employee.name }}
    </li>
  </ul>

  <div><span>id: </span>{{ employee.id }}</div>
  <div><span>name: </span>{{ employee.name }}</div>

<div *ngIf="selectedEmployee">
  <h2>{{ employee.name | uppercase }} Details</h2>
  <div><span>id: </span> {{ selectedEmployee.id }} </div>
  <div>
    <label>name: 
      <input [(ngModel)]="selectedEmployee.name" placeholder="name"/>
    </label>
  </div>
</div>